* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  background-color: rgb(34, 34, 34);
  color: white;
  font-family: "poppinsregular";
  padding: 15px;
  animation: entering 0.7s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  text-align: center;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  margin-top: 25px;
}

#title {
  flex-direction: column;
  line-height: 10px;
}

main {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  align-items: center;
}

h2 {
  text-align: center;
  font-family: "poppinsmedium";
  color: white;
}

#inscrevase {
  padding-bottom: 20px;
}

p {
  line-height: 3vw;
  max-width: 450px;
  font-family: "poppinslight";
  text-align: center;
  font-size: 17px;
}

#inputs {
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.input-box label {
  font-size: 17px;
  color: rgb(168, 167, 167);
}

.input-field {
  display: flex;
  padding: 3px;
  cursor: text;
  gap: 15px;
  border-bottom: 1px solid rgb(168, 167, 167);
}

.input-field input {
  height: 25px;
  width: 450px;
  border: none;
  font-size: 18px;
  font-family: "poppinsregular";
  color: white;
  background-color: transparent;
}

.input-field input:focus {
  outline: none;
}

#enviar {
  height: 50px;
  margin-top: 40px;
  width: 40%;
  background-color: rgb(237, 29, 61);
  color: white;
  border: none;
  border-radius: 30px;
  align-self: center;
  font-size: 20px;
  font-weight: bold;
  font-family: "poppinsregular";
}

#enviar:hover {
  cursor: pointer;
  transform: scale(1.05);
}

@keyframes entering {
  from {
    opacity: 0;
    transform: translateY(-200px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen {
  h2 {
    font-size: 5vw;
  }
}
